{% extends 'base.html' %} {% load static %}
{% block title %} {{ c.title }} {% endblock %}
{% block content %}



    <section class="section-adz">
        <section class="section-content">
            <div class="container-xl">
                <div class="text-center">
                    <img src="{{c.image.url}}" class="img-fluid img w-100" alt="">
                </div>

                <a href="{% url 'ads_category' c.ad_id %}" style="font-size: 20px; color: #444444" class="text-left">{{ c.ad }}</a>
                <h2 class="title text-left">
                    {{ c.title }}
                </h2>

                <p class="content">
                    {{ c.content | safe }}
                </p>


                <div class="text-center py-5 my-4">
                    <a href="{% url 'ads' %}" class="btn">{% translate "К объявлениям" %}</a>
                </div>


                <div class="row row-cols-1 row-cols-lg-3 ads">
                    {% for ad in category.ad_set.all|slice:":3" %}
                        <div class="col ad">
                            <img src="{{ ad.image.url }}" class="img-fluid w-100" alt="">
                            <div class="title">{{ ad.title }}</div>
                            <div class="descrip">{{ ad.description }}</div>
                            <a href="{% url 'ad' ad.pk %}" class="link">{% translate "Подробнее об объявлении >" %}</a>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </section>
    </section>




{% endblock %}