{% extends 'base.html' %} {% load static %} {% load i18n %}
{% block title %} E`LONLAR {% endblock %}
{% block content %}


    <section class="section-ads-categoty">
        <section class="section-content">
            <div class="container-xl">
                <h2 class="title text-center">{% translate "E`LONLAR" %}</h2>
                <div class="descr text-center">
                    {% translate "Самые последние объявления нашего университета" %}
                </div>

                <div class="category">
                    <div class="cat-name">
                        {{ category.name }}
                    </div>
                    <div class="row row-cols-1 row-cols-lg-3 ads">
                        {% for ad in category.ad_set.all %}

                            <div class="col ad mb-5">
                                <img src="{{ ad.image.url }}" class="img-fluid w-100" alt="">
                                <div class="title">{{ ad.title }}</div>
                                <div class="descrip">{{ ad.description }}</div>
                                <a href="{% url 'ad' ad.pk %}" class="link">{% translate "Подробнее об объявлении >" %}</a>
                            </div>

                        {% endfor %}

                    </div>
                </div>

                <div class="text-center  py-5">
                    <a href="{% url 'ads' %}" class="btn">{% translate "К объявлениям" %}</a>
                </div>
            </div>
        </section>
    </section>

{% endblock %}