{% extends 'base.html' %} {% load static %}
{% block title %} E`LONLAR {% endblock %}
{% block content %}


        <section class="section-adsz">
            <section class="section-content">
                <div class="container-xl">
                    <h2 class="title text-center">E`LONLAR</h2>
                    <div class="descr text-center">
                        Самые последние объявления нашего университета
                    </div>

                    <div class="cotegories">
                        {% for category in content %}
                            <div class="category">
                                <div class="cat-name">
                                    <a href="{% url 'ads_category' category.pk %}" style="color: #444444"
                                       class="link">{{ category.name }}</a>
                                </div>
                                <div class="row row-cols-1 row-cols-lg-3 ads">
                                    {% for ad in category.ad_set.all|slice:":3" %}

                                        <div class="col ad">
                                            <img src="{{ ad.image.url }}" class="img-fluid w-100" alt="">
                                            <div class="title">{{ ad.title }}</div>
                                            <div class="descrip">{{ ad.description }}</div>
                                            <a href="{% url 'ad' ad.pk %}" class="link">Подробнее об объявлении ></a>
                                        </div>

                                    {% endfor %}

                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
        </section>

{% endblock %}