{% extends 'base.html' %} {% load static %}
{% block title %} Markaz Bo'limlari {% endblock %}
{% block content %}

    <section class="section-decree" id="top">
        <section class="section-sections">
            <div class="container-xl">
                <h2 class="text-center title">{% translate "Qarorlar" %}</h2>
                <div class="descr">
                    {% translate "Ознакомьтесь с уставными документами нашего института" %}
                </div>

                <div class="content">

                    <nav>
                        <div class="nav nav-tabs sections " id="nav-tab" role="tablist">
                            {% for c in content %}

                                <a class="nav-link " target="_blank" href="{{ c.file.url }}">

                                    <div class="box d-flex align-items-center">
                                        <img src="{{ c.icon.url }}" class="img-fluid pr-5" alt="">
                                        <div class="title ">
                                            {{ c.title }}
                                        </div>
                                    </div>

                                </a>
                            {% endfor %}
                        </div>
                    </nav>
                    <div class="text-center">
                        <a href="{% url 'home' %}" class="btn">{% translate "На главную" %}</a>
                    </div>

                </div>
            </div>
        </section>
    </section>


{% endblock %}