{% extends 'base.html' %} {% load static %} {% load i18n %}
{% block title %} КАФЕДРЫ ДТПИ {% endblock %}
{% block content %}

    <section class="section-department" id="top">
        <section class="section-departments">
            <div class="container-xl">
                <h2 class="text-center title">{% translate "КАФЕДРЫ ДТПИ" %}</h2>
                <div class="descr">
                    {% translate "Нажмите на кафедру, чтобы узнать подробности" %}
                </div>

                <div class="content">

                    <nav>
                        <div class="nav nav-tabs row row-cols-2 row-cols-lg-4 departments " id="nav-tab" role="tablist">
                            {% for c in content %}

                                <a class="nav-link "
                                   onclick="document.querySelector('.section-department-content').classList.remove('d-none');setTimeout(() => {document.getElementById('nav-tabContent').scrollIntoView();}, 100); "
                                   id="nav-{{ c.id }}-tab" data-toggle="tab" href="#nav-{{ c.id }}" role="tab"
                                   aria-controls="nav-{{ c.id }}" aria-selected="true">

                                    <div class="box d-flex flex-column justify-content-between align-items-center">
                                        <div></div>
                                        <img src="{{ c.icon.url }}" class="img-fluid pt-5" alt="">
                                        <div class="title ">
                                            {{ c.name }}
                                        </div>
                                    </div>

                                </a>
                            {% endfor %}
                        </div>
                    </nav>


                </div>
            </div>
        </section>
        <section class="section-department-content d-none">
            <div class="container-xl">
                <div class="tab-content department-content" id="nav-tabContent">
                    {% for c in content %}

                        <div class="tab-pane fade " id="nav-{{ c.id }}" role="tabpanel"
                             aria-labelledby="nav-{{ c.id }}-tab">
                            <h2 class="title text-center">
                                {{ c.name }}
                            </h2>

                            <div class="row boss">
                                <div class="col-4">
                                    <div class="image ">
                                        <img src="{{ c.image.url }}" class="img-fluid w-75" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-8 infos">
                                    <div class="info"><span>"{{ c.name }}" {% translate "kafedra mundiri :" %}</span> {{ c.boss }}</div>
                                    <div class="info"><span>{% translate "Qabul vaqti:" %}</span> {{ c.time }}</div>
                                    <div class="info"><span>{% translate "Telefon:" %}</span> {{ c.phone }}</div>
                                    <div class="info"><span>{% translate "E-mail:" %}</span> {{ c.email }}</div>
                                    <div class="info"><span>{% translate "Manzil:" %}</span> {{ c.location }}</div>
                                </div>
                            </div>

                            <div class="txt">

                                <h3 class="text-center history mb-5">{% translate "Kafedra tarixi" %}</h3>

                                {{ c.content |safe }}

                                {% if c.more %}
                                    <div class="questions my-5">
                                        <div class="question">
                                            <a class="w-100 click" data-toggle="collapse"
                                               href="#collapse{{ c.id }}" role="button"
                                               aria-expanded="false" aria-controls="collapseExample">
                                                <div class="row">
                                                    <div class="col-10 text-left qq">
                                                        {% translate "Больше информации о факультете" %}
                                                    </div>
                                                    <div class="col-2 text-right">
                                                        <img src="{% static 'img/arrow-fa.png' %}"
                                                             class="img-fluid arrow-up"
                                                             alt="">
                                                    </div>
                                                </div>
                                            </a>

                                            <div class="collapse" id="collapse{{ c.id }}">
                                                <div class=" res">
                                                    <div class="txt">
                                                        {{ c.more | safe }}
                                                    </div>
                                                    <div class="closee" data-toggle="collapse"
                                                         href="#collapse{{ c.id }}"
                                                         role="button"
                                                         aria-expanded="false" aria-controls="collapseExample">
                                                         {% translate "Свернуть" %} <img src="{% static 'img/arrow-upp.png' %}"
                                                                      class="img-fluid pl-3"
                                                                      alt="">
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                {% endif %}


                                <div class="text-center mt-5">
                                    <a href="#top" class="btn">{% translate "Наверх" %}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>


{% endblock %}