{% extends 'base.html' %} {% load static %}
{% block title %} SIRTQI BO’LIM {% endblock %}
{% block content %}

    <section class="section-external-department" id="top">
        <section class="section-departments">
            <div class="container-xl">
                <h2 class="text-center title">{% translate "SIRTQI BO’LIM" %}</h2>

                {% for c in content %}
                    <div class="row staff">
                        <div class="col-4">
                            <div class="image ">
                                <img src="{{ c.image.url }}" class="img-fluid w-75" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 infos">
                            <div class="info"><span>{{ c.position }} :</span> {{ c.full_name }}</div>
                            <div class="info"><span>{% translate "Qabul vaqti:" %}</span> {{ c.time }}</div>
                            <div class="info"><span>{% translate "Telefon:" %}</span> {{ c.phone }}</div>
                            <div class="info"><span>{% translate "E-mail:" %}</span> {{ c.email }}</div>
                            <div class="info"><span>{% translate "Manzil:" %}</span> {{ c.location }}</div>
                        </div>
                    </div>
                {% endfor %}

                                <div class="text-center pt-5 border-top">
                                    <a href="{% url 'home' %}" class="btn">{% translate "На главную" %}</a>
                                </div>
            </div>
        </section>
    </section>


{% endblock %}