{% extends 'base.html' %} {% load static %}
{% block title %} SIRTQI BO’LIM {% endblock %}
{% block content %}

    <section class="section-external-department" id="top">
        <section class="section-departments">
            <div class="container-xl">
                <h2 class="text-center title">SIRTQI BO’LIM</h2>

                {% for c in content %}


                    <div class="row staff">
                        <div class="col-4">
                            <div class="image ">
                                <img src="{{ c.image.url }}" class="img-fluid w-75" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8 infos">
                            <div class="info"><span>"{{ c.position }}" :</span> {{ c.full_name }}</div>
                            <div class="info"><span>Qabul vaqti:</span> {{ c.time }}</div>
                            <div class="info"><span>Telefon:</span> {{ c.phone }}</div>
                            <div class="info"><span>E-mail:</span> {{ c.email }}</div>
                            <div class="info"><span>Manzil:</span> {{ c.location }}</div>
                        </div>
                    </div>
                {% endfor %}

                                <div class="text-center mt-5">
                                    <a href="#top" class="btn">Наверх</a>
                                </div>
            </div>
        </section>
    </section>


{% endblock %}