{% extends 'base.html' %} {% load static %}
{% block title %} QABUL KVOTALARI {% endblock %}
{% block content %}
{% for c in content %}



    <section class="section-finans">
        <section class="section-content">
            <div class="container-xl">
                <h2 class="title text-center">{{ c.title }}</h2>

                <div class="table">
                    {{ c.table | safe }}
                </div>
            </div>
        </section>
    </section>
{% endfor %}

{% endblock %}