{% extends 'base.html' %} {% load static %}{% load i18n %}
{% block title %}  asdas{% endblock %}
{% block content %}

    <section class="section-fotos" id="top">
        <section class="section-content">
            <div class="container-xl">
                <h2 class="text-center title">{% translate "FOTOGALEREYA" %}</h2>
                <div class="descr">
                    <img src="{% static 'img/fotoo.png' %}" class="img-fluid w-100" alt="">
                </div>

                <div class="content">
                    {% for c in content %}
                        <div class="categoty">
                            <div class="title">
                                {{ c.title }}
                            </div>

                            <div class="row row-cols-3">
                                {% for cc in c.foto_set.all %}
                                    <div class="col">
                                        <a href="{{ cc.image.url }}">
                                            <img src="{{ cc.image.url }}" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                {% endfor %}


                            </div>
                            <div class="text-center">
                                <a href="{% url 'foto' c.id %}" class="btn my-5">{% translate "Больше фотографий" %}</a>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>
    </section>


{% endblock %}