{% extends 'base.html' %}
{% load filterr %}
{% load static %} {% block content %}
    <section class="home">

        <section class="head_section" style="background-image: url({% static 'img/Parallax.png' %})">

            <div class="position-fixed d-flex justify-content-center align-items-center" id="anchor">
                <a href="#news"
                   class=" text-white d-flex justify-content-center align-items-center text-decoration-none ">
                    Узнайте больше
                    <span class="pl-2 down">
                    <img src="{% static 'img/arrow.png' %}" class="img-fluid" alt="">
                </span>
                </a>
            </div>
        </section>

        <section class="other-content">

            <section id="news" class="section-news container-xl text-center">
                <h2 class="py-3">Новости института</h2>
                <p>Последние новости связанные с нашим институтом</p>
                <div class="news text-left">
                    <div class="row">

                        {% for new in news|fortwo %}
                            <div class="col-12 col-md-8 col-xl-6 big " id="bignews{{ forloop.counter }}">
                                <a href="{% url 'new' new.id %}" class="text-decoration-none w-100 h-100">
                                    <div class="box position-relative"
                                         style="background-image: url({{ new.image.url }})">
                                        <div class="position-absolute content">
                                            <div class="title1">{{ new.title }} </div>
                                            <div class="title2">
                                                {{ new.description }}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}


                        {% for new in news|forfour %}
                            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mini">
                                <a href="{% url 'new' new.id %}" class="text-decoration-none w-100 h-100">
                                    <div class="box">
                                        <div class="img"
                                             style="background-image: url({{ new.image.url }})"></div>
                                        <div class="content">
                                            <div class="title1">{{ new.title }}</div>
                                            <div class="title2">{{ new.description }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}


                    </div>

                    <div  class="text-center">
                        <a href="{% url 'news' %}" class="btn">Больше новостей</a>
                    </div>
                </div>
            </section>

            <section class="section-slogan position-relative">
                <img src="{% static 'img/klass.png' %}" class="img-fluid w-100" alt="">
            </section>

            <section class="section-university">
                <div class="container-xl text-center position-relative">
                    <h2 class="py-3">Наш институт</h2>

                    <p class="descr h3">Краткая информация об институте</p>

                    <img src="{% static 'img/Logo.png' %}" class="position-absolute" width="150px" height="150px"
                         style="right: 0; top: 0; transform: translate(100%, 0);" alt="">

                    <div class="row row-cols-1 row-cols-md-3 for-border mx-0">
                        <div class="col text-center">
                            <h4>1000</h4>
                            <p>студентов на всех факультетах</p>
                        </div>
                        <div class="col text-center">
                            <h4>100</h4>
                            <p>преподавателей</p>
                        </div>
                        <div class="col text-center">
                            <h4>10</h4>
                            <p>кафедр на 3 факультетах</p>
                        </div>
                    </div>

                    <div class="boxs row row-cols-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
                        <a href="{% url 'facultets' %}" class="col">
                            <div class="box d-flex flex-column justify-content-between align-items-center">
                                <div></div>
                                <img src="{% static 'img/fak.png' %}" class="img-fluid pt-2" alt="">
                                <div class="title pb-5">
                                    ФАКУЛЬТЕТЫ
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'central_department' %}" class="col">
                            <div class="box d-flex flex-column justify-content-between align-items-center">
                                <div></div>
                                <img src="{% static 'img/sec.png' %}" class="img-fluid pt-2" alt="">
                                <div class="title pb-5">
                                    ОТДЕЛЕНИЯ
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'department' %}" class="col">
                            <div class="box d-flex flex-column justify-content-between align-items-center">
                                <div></div>
                                <img src="{% static 'img/caf.png' %}" class="img-fluid pt-2" alt="">
                                <div class="title pb-5">
                                    КАФЕДРЫ
                                </div>
                            </div>
                        </a>
                        <a href="" class="col">
                            <div class="box d-flex flex-column justify-content-between align-items-center">
                                <div></div>
                                <img src="{% static 'img/stud.png' %}" class="img-fluid pt-2" alt="">
                                <div class="title pb-5">
                                    СТУДЕНТЫ
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'enrollee' %}" class="col">
                            <div class="box d-flex flex-column justify-content-between align-items-center">
                                <div></div>
                                <img src="{% static 'img/abit.png' %}" class="img-fluid pt-2" alt="">
                                <div class="title pb-5">
                                    АБИТУРИЕНТЫ
                                </div>
                            </div>
                        </a>
                        <a href="" class="col">
                            <div class="box d-flex flex-column justify-content-between align-items-center">
                                <div></div>
                                <img src="{% static 'img/doc.png' %}" class="img-fluid pt-2" alt="">
                                <div class="title pb-4">
                                    ДОКУМЕНТЫ <br>ИНСТИТУТА
                                </div>
                            </div>
                        </a>
                        <a href="" class="col">
                            <div class="box d-flex flex-column justify-content-between align-items-center">
                                <div></div>
                                <img src="{% static 'img/ellib.png' %}" class="img-fluid pt-2" alt="">
                                <div class="title pb-5">
                                    ЭЛЕКТРОННАЯ<br>БИБЛИОТЕКА
                                </div>
                            </div>
                        </a>
                        <a href="" class="col">
                            <div class="box d-flex flex-column justify-content-between align-items-center">
                                <div></div>
                                <img src="{% static 'img/hemis.png' %}" class="img-fluid pt-2" alt="">
                                <div class="title pb-5">
                                    HEMIS<br>STUDENT
                                </div>
                            </div>
                        </a>
                        <a href="" class="col">
                            <div class="box d-flex flex-column justify-content-between align-items-center">
                                <div></div>
                                <img src="{% static 'img/hem.png' %}" class="img-fluid pt-2" alt="">
                                <div class="title pb-5">
                                    HEMIS
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'ads' %}" class="col">
                            <div class="box d-flex flex-column justify-content-between align-items-center">
                                <div></div>
                                <img src="{% static 'img/hem.png' %}" class="img-fluid pt-2" alt="">
                                <div class="title pb-5">
                                    ОБЪЯВЛЕНИЯ
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </section>

            <section class="section-fakultet">
                <div class="container-xl text-center">
                    <h2>Факультеты</h2>
                    <p class="descr">
                        Bizda faoliyat yuritayotgan fakultetlar haqida malumotlar olishingiz va ularning faoliyati bilan
                        tanishishigiz mumkin bizning xodimlar doimo sizni qo’llab-quvatlaydi.
                    </p>

                    <div class="row row-cols-1 row-cols-lg-3 list">
                        {% for facultet in facultets %}
                            <div class="col">
                                <a href="{% url 'facultets' %}?id={{ facultet.id }}" class="text-decoration-none box text-center w-100 h-100">
                                    <img src="{{ facultet.icon.url }}" class="img-fluid w-100" alt="">
                                    <div class="content">
                                        <div class="title ">
                                            {{ facultet.name }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>

                    <div class="text-center">
                        <a href="{% url 'facultets' %}" class="btn">Больше факультетов</a>
                    </div>
                </div>
            </section>

            <section class="section-info">
                <div class="container-xl">
                    <h3 class="text-center">
                        Полезная информация
                    </h3>
                    <div class="infos row row-cols-1 row-cols-lg-2">
                        <div class="col student text-center">
                            <h3 class="title-topic">
                                Студентам
                            </h3>
                            <div class="info">
                                <div class="title-about">
                                    Текст
                                </div>
                                <div class="txt">
                                    Подтекст
                                </div>
                            </div>
                            <div class="info">
                                <div class="title-about">
                                    Текст
                                </div>
                                <div class="txt">
                                    Подтекст
                                </div>
                            </div>
                            <div class="info">
                                <div class="title-about">
                                    Текст
                                </div>
                                <div class="txt">
                                    Подтекст
                                </div>
                            </div>
                        </div>
                        <div class="col pre-student text-center">
                            <h3 class="title-topic">
                                Абитуриентам
                            </h3>
                            <div class="info">
                                <div class="title-about">
                                    Текст
                                </div>
                                <div class="txt">
                                    Подтекст
                                </div>
                            </div>
                            <div class="info">
                                <div class="title-about">
                                    Текст
                                </div>
                                <div class="txt">
                                    Подтекст
                                </div>
                            </div>
                            <div class="info">
                                <div class="title-about">
                                    Текст
                                </div>
                                <div class="txt">
                                    Подтекст
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="btn">Узнать больше подробностей</div>
                    </div>

                </div>
            </section>
        </section>

    </section>

{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $('#bignews2').addClass('order-last')
        });
    </script>
{% endblock %}