{% extends 'base.html' %} {% load static %}
{% block title %} RAHBARIYAT {% endblock %}
{% block content %}

    <section class="section-management" id="top">
        <section class="section-content">
            <div class="container-xl">
                <h2 class="text-center title">RAHBARIYAT</h2>

                {% for c in content %}
                    <div class="manager">
                        <div class="position">
                            {{ c.position }}
                        </div>
                        <div class="name">
                            {{ c.full_name }}
                        </div>
                        <div class="infos">
                            <div class="info"><span>Qabul kunlari:</span> {{ c.time }} </div>
                            <div class="info"><span>Telefon:</span> {{ c.phone }} </div>
                            <div class="info"><span>E-mail:</span> {{ c.email }} </div>
                        </div>
                        <div class="img">
                            <img src="{{ c.image.url }}" class="img-fluid" alt="">
                        </div>

                        <div class="sub-title">
                            MEHNAT FAOLIYATI
                        </div>

                        <div class="activities">
                            {{ c.work_activities | safe }}
                        </div>

                    </div>
                {% endfor %}

            </div>
            <div class="text-center mt-5">
                <a href="#top" class="btn">Наверх</a>
            </div>
        </section>

    </section>


{% endblock %}

