{% extends 'base.html' %} {% load static %}
{% block title %} {{ c.title }} {% endblock %}
{% block content %}



    <section class="section-new">
        <section class="section-content">
            <div class="container-xl">
                <div class="text-center">
                    <img src="{{ c.image.url }}" class="img-fluid img w-100" alt="">
                </div>

                <a href="{% url 'news_category' c.new_id %}" style="font-size: 20px; color: #444444" class="text-left">{{ c.new }}</a>
                <h2 class="title text-left">
                    {{ c.title }}
                </h2>

                <p class="content">
                    {{ c.content | safe }}
                </p>


                <div class="text-center py-5 my-4">
                    <a href="{% url 'news' %}" class="btn">К новости</a>
                </div>


                <div class="row row-cols-1 row-cols-lg-3 news">
                    {% for new in category.new_set.all|slice:":3" %}
                        <div class="col new">
                            <img src="{{ new.image.url }}" class="img-fluid w-100" alt="">
                            <div class="title">{{ new.title }}</div>
                            <div class="descrip">{{ new.description }}</div>
                            <a href="{% url 'new' new.pk %}" class="link">Подробнее о новости ></a>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </section>
    </section>




{% endblock %}