{% extends 'base.html' %} {% load static %}
{% block title %} E`LONLAR {% endblock %}
{% block content %}


        <section class="section-news">
            <section class="section-content">
                <div class="container-xl">
                    <h2 class="title text-center">{% translate "НОВОСТИ" %}</h2>
                    <div class="descr text-center">
                        {% translate "Самые последние новости нашего университета" %}
                    </div>

                    <div class="cotegories">
                        {% for category in content %}
                            <div class="category">
                                <div class="cat-name">
                                    <a href="{% url 'news_category' category.pk %}" style="color: #444444"
                                       class="link">{{ category.name }}</a>
                                </div>
                                <div class="row row-cols-1 row-cols-lg-3 news">
                                    {% for new in category.new_set.all|slice:":3" %}

                                        <div class="col new">
                                            <img src="{{ new.image.url }}" class="img-fluid w-100" alt="">
                                            <div class="title">{{ new.title }}</div>
                                            <div class="descrip">{{ new.description }}</div>
                                            <a href="{% url 'new' new.pk %}" class="link">{% translate "Подробнее об новости >" %}</a>
                                        </div>

                                    {% endfor %}

                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
        </section>

{% endblock %}